<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
    <h1><b>Admin</b>, welcome spring boot security page!</h1>
    <h2>Добавить пользователя</h2>
    <form action="/user" method="post">
        <table border="1">
            <tr>
                <td><label>Имя пользователя</label></td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><label>Пароль</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Добавить" /></td>
            </tr>
        </table>
    </form>
    <p><a href="/logout">Logout</a></p>

</body>
</html>
