<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>EDIT</title>
</head>
<body>
<br>
<div align="center">
  <h2>Edit User</h2>
  <form th:action="@{/admin}" th:object="${user}" method="post">
    <table border="5" cellpadding="15">
      <tr>
        <td>ID:</td>
        <td><input type="number" th:field="${user.id}" readonly/></td>
      </tr>
      <tr>
        <td>firstName:</td>
        <td><input type="text" th:field="${user.firstName}"/></td>
      </tr>
      <tr>
        <td>lastName:</td>
        <td><input type="text" th:field="${user.lastName}"/></td>
      </tr>
      <tr>
        <td>"email:</td>
        <td><input type="text" th:field="${user.email}"/></td>
      </tr>
      <tr>
        <td><label>Имя пользователя</label></td>
        <td><input type="text" name="name" /></td>
      </tr>
      <tr>
        <td><label>Пароль</label></td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>

        <label>
          <select size="3" name="role" id="roles" multiple="multiple">
            <option disabled>Roles:</option>
            <option value="1">ADMIN</option>
            <option selected value="2">USER</option>
          </select>
        </label>
      </tr>

      <tr>
        <td colspan="2"><input type="submit" value="Update"></td>
      </tr>
    </table>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>