<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<ul>
    <li> <a href="/user">Go here</a> if you are a simple user.</li>
    <li> <a href="/admin">Go here</a> if you are an admin.</li>
    <li> <a href="/login">Go here</a> for custom login.</li>
    <li> <a href="/login">Logout</a>.</li>
</ul>

</body>
</html>
